@using FamilyRealtor.Models.DomainModels;
@model List<Facility>
@{
	ViewData["Title"] = "Управление удобствами";

	string? action = ViewContext.RouteData.Values["action"]?.ToString();
}

<div id="deleteModal" class="modal" tabindex="-1">
	<div class="modal-dialog"></div>
</div>

<h1 class="pb-3">@ViewBag.Title</h1>
<h5><a asp-action="Create">Добавить удобство</a></h5>

<form asp-action="Search" class="mt-3 mb-3" method="get">
	<div class="row row-cols-sm-auto align-items-baseline text-nowrap g-2">
		<div class="col-12 d-flex gap-2">
			<label for="sName" class="col-form-label">Название:</label>
			<input id="sName" class="form-control" name="sName" value="@Context.Request.Query["sName"]" />
		</div>
		<div>
			<button class="btn btn-primary">Найти</button>
			<a asp-action="Index" class="btn btn-secondary">Сброс</a>
		</div>
	</div>
</form>

@if (action == "Search")
{
	<h5>Результаты поиска</h5>
}

<div class="table-responsive">
	<table class="table table-hover bg-white">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Иконка</th>
				<th>Название</th>
				<th class="text-end"></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				@foreach (Facility facility in Model)
				{
					<tr>
						<td>@facility.Id</td>
						<td><i class="@facility.IconClass"></i></td>
						<td>@facility.Name</td>
						<td class="text-end">
							<a asp-action="Update" asp-route-id="@facility.Id" class="btn"><i class="fa fa-pen"></i></a>
							<a class="btn deleteButton" data-name="@facility.Name"
							   data-path="@Url.Action("Delete", "Facility", new { Area = "Admin", Id = facility.Id })"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				}
			}
			else
			{
				<tr><td colspan="4">Удобства не найдены.</td></tr>
			}
		</tbody>
	</table>
</div>

@await Html.PartialAsync("_PaginationPartial")